h1 {text-align: center;
}

body {font-family: 'Courier New', Courier, monospace; background-color: black; color: whitesmoke
}

body {
    padding: 0;
    margin: 0;
    line-height: 150%;   
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-right-width: 150px;
    border-left-width: 150px;
    border-right-color: #5F9EA0;
    border-left-color: #5F9EA0;

  }